body {
  margin: 0px;
  background-color: #232148;

  color: white;
  font-family: poppins;
}

/* !!navbar */
.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #232148;
  color: white;
  z-index: 99;
}

.brand-logo {
  font-size: 2rem;
  margin: 0.5rem;
}

.brand-logo a {
  text-decoration: none;
  display: block;
  color: white;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #feba12;
}

.toggle-button {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* !!Navbar End */

/* !!hero start */
.hero-section {
  min-height: 100vh;
}
.hero-container {
  display: grid;
  max-width: 640px;
  margin: 0 auto;
  min-height: 100vh;
}

.hero-text {
  margin-top: 3rem;
  z-index: 2;
  grid-column: col / span 2;
  grid-row: row;
}

.hero-image {
  grid-column: col 2 / span 2;
  grid-row: row;
  position: relative;
  height: 40rem;
}

.hero-image > button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero-title {
  font-size: 5rem;
  position: relative;
}

.container-video {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #feba12;
  color: #232148;
}

.container-video h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.title-article {
  font-size: 1.2rem;
  margin: 3rem 2rem;
  padding: 0.5px 15%;
  text-align: center;
  display: flex;
  align-content: center;
}

.video {
  width: 100%;
  height: 100%;
  max-width: 940px;
  max-height: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* !! image galery start */
.container-gallery {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #232148;
  color: white;
}
.content-title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}
.content-gallery {
  --gap: 1rem;
  --width: 300px;
  --height: 200px;
  margin: 0 auto;
  padding: 0 5%;
}
.content-gallery > a > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-gallery {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--width), auto-fit));
  grid-auto-rows: var(--height);
  grid-auto-flow: dense;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

/*!! image galery end */
